references
.vscode
.gradio
**/__pycache__
*.safetensors
theory/*
!theory/theory.tex
dataset.json
model.gv*
FOREcasT/indelmap/CMakeFiles
FOREcasT/indelmap/generated
FOREcasT/indelmap/cmake_install.cmake
FOREcasT/indelmap/CMakeCache.txt
zshit
AI_models/benchmark/results
AI_models/dataset/README.md
AI_models/inDelphi/reference/temp.csv
AI_models/inDelphi/reference/temp.log
AI_models/DeepHF/reference
AI_models/DeepHF/rnafold
.env