.vscode/settings.json
**/__pycache__
theory/*
!theory/theory.tex
AI/preprocess/DeepHF/reference/
AI/preprocess/FOREcasT/reference/
AI/preprocess/Lindel/reference/
AI/preprocess/inDelphi/reference/
AI/preprocess/malijia/reference/
benchmark
AI/dataset/data/SX/csvfiles/*
!AI/dataset/data/SX/csvfiles/*.csv
