.vscode
.gradio
**/__pycache__
*.safetensors
theory/*
!theory/theory.tex
dataset.json
model.gv*
zshit
AI/benchmark/results
AI/dataset/README.md
AI_models/inDelphi/reference/temp.csv
AI_models/inDelphi/reference/temp.log
AI/preprocess/FOREcasT/indelmap/CMakeFiles
AI/preprocess/FOREcasT/indelmap/generated
AI/preprocess/FOREcasT/indelmap/cmake_install.cmake
AI/preprocess/FOREcasT/indelmap/CMakeCache.txt
AI/preprocess/DeepHF/rnafold
pipeline
reference
inference.output
.env
