matplotlib

scikit-learn
xgboost
lightgbm

jsonargparse[all]
docstring-inheritance
more-itertools

biopython

opt_einsum
einops
optuna
optuna-dashboard

tensorboard
tbparse

transformers
diffusers
evaluate
torchtune
gradio
