matplotlib

scikit-learn
xgboost
lightgbm

jsonargparse
docstring-inheritance
more-itertools

biopython

opt_einsum
einops
optuna
optuna-dashboard
tensorboard

transformers
diffusers
evaluate
torchtune
gradio
