matplotlib
plotnine

pandas[hdf5]

scikit-learn
xgboost
lightgbm

shap
deeplift

jsonargparse[all]
docstring-inheritance
more-itertools

biopython

opt_einsum
einops
optuna
optuna-dashboard

tensorboard
tbparse
HolisticTraceAnalysis

transformers
diffusers
datasets
gradio
